body {
  background-color: #F5EEE6;
  font-family:'Open Sans', sans-serif;
  font-weight: normal;
  color: #E6A4B4;
  font-size: 16px;
  line-height: 35px;
}

h1, h2, h3 {
  color: #C86B85;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

p {
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #E6A4B4;
}

a:hover {
  color: #6D6875;
}

ul {
  margin: 20px 0px;
}

.container {
  width: 500px;
  margin: 0px auto;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  background: #F9F9F9;
  padding: 25px;
  border-radius: 5px;
  margin: 20px;
}

.text-center {
  text-align: center;
}

.img-circle {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.button {
  background-color: #E6A4B4;
  color: #F9F9F9;
  padding: 10px 15px;
  border-radius: 5px;
}

.button:hover {
  background-color: #6D6875;
  color: #F9F9F9;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 5px;
}

.list-inline {
  padding-left: 0px;
  font-size: 30px;
  list-style: none;
}

@media(max-width: 1200px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}