@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

body {
  background-color: #F5EEE6;
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  color: #E6A4B4;
  font-size: 16px;
  line-height: 30px;
}

h1, h2, h3 {
  color: #C86B85;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #E6A4B4;
}

a:hover {
  color: #6D6875;
}

.container {
  width: 500px;
  margin: 0px auto;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  background: #F9F9F9;
  padding: 30px;
  border-radius: 5px;
  margin: 20px;
}

.text-center {
  text-align: center;
}

.img-circle {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.button {
  background-color: #E6A4B4;
  color: #F9F9F9;
  padding: 10px 15px;
  border-radius: 5px;
}

.button:hover {
  background-color: #6D6875;
  color: #F9F9F9;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.list-inline {
  padding-left: 0px;
  font-size: 30px;
  list-style: none;
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}